body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
@media (min-width:900px) {
    .main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: yellow;
    }
    /* navbar */
    .navbar {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .nav-r ul  {
        display: flex;
        justify-content: space-between;
    }
    .nav-r ul li {
        padding: 10px;
        list-style: none;
        background-color: black;
        margin: 15px;
        border-radius: 7px;
        cursor: pointer;
    }
    .nav-r ul li:hover {
        background-color: red;
    }
    .nav-r ul li a {
        text-decoration: none;
        color: white;
    }
    .nav-l {
        margin: 15px;
        color: red;
        margin-left: 15%;
    }
    /* content1 */
    .content1 {
        width: 100%;
        margin-left: 15%;
        display: flex;
        flex-wrap: wrap;
    }
    .content1 .box1 {
        width: 50%;
        padding: 10px;
    }
    .content1 .box1 h1 {
        font-size: 70px;
    }
    .content1 .box1 h4 {
        font-size: 30px;
    }
    .content1 .box1 .btn input{
        padding: 10px;
        background-color: black;
        border-radius: 7px;
        border: none;
        cursor: pointer;
        color: white;
        margin-top: 20px;
    }
    .content1 .box1 .btn input:hover{
        background-color: red;
    }
    .content1 .box2 {
        width: 30%;
    }
    /* content2 */
    .content2 {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: 15%;
    }
    .contain1 {
        width: 100%;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
    }
    .contain1 .box1 {
        width: 50%;
    }
    .contain1 .box1 h1 {
        font-size: 50px;
    }
    .contain1 .box2 {
        width: 32%;
    }
    .contain2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .contain2 .box {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }
    .contain2 .box .img {
        width: 32%;
    }
    .contain2 .box .img h3 {
        letter-spacing: 1px;
        color: white;
        margin-top: -20%;
        margin-left: 13%;
    }
    .contain2 .btn {
        margin-top: 5%;
        margin-left: 35%;
    }
    .contain2 .btn input {
        border-radius: 7px;
        background-color: black;
        padding: 10px;
        color:white;
        border: none;
        cursor: pointer;
    }
    .contain2 .btn input:hover {
        background-color: red;
    }
    .content3 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .content3 .box1 ,.box2 ,.box3 {
        width: 100%;
        display: flex;
        margin-left: 10%;
        margin-right: 8%;
        margin-top: 5%;
    }
    .content3 .box .btn {
        border: none;
        border-radius: 7px;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 10px;
    }
    .content3 .box .btn:hover {
        background-color: red;
    }
    .content4 {
        width: 90%;
        display: flex;
        flex-wrap:wrap;
        margin: auto;
    }
    .content4 .box1 {
        width: 35%;
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        border-radius: 10px;
        margin: auto;
    }
    .content4 .box1 h1 {
        margin: auto;
        padding: 20px;
        color: white;
    }
    .content4 .box1 .item {
        width: 90%;
        margin: auto;
        margin-top: 10%;
        padding: 10px;
        border-radius: 7px;
        border: none;
    }
    .content4 .box1 .textarea {
        resize: none;
    }
    .content4 .box1 .btn {
        padding: 10px;
        background-color: yellow;
        color: black;
        border-radius: 7px;
        border: none;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 40px;
        cursor: pointer;
        padding: 15px;
    }
    .content4 .box1 .btn:hover{
        background-color: red;
    }
    .content4 .box2 {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        margin-top: -1%;
    }
    .content4 .box2 .content1 {
        width: 100%;
        margin: 5%;
    }
    .content4 .box2 .content2 {
        width: 98%;
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 7px;
        margin: 5%;
    }
    /* footer */
    .footer {
        width: 100%;
        background-color: black;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: 20vh;
    }
    .footer i {
        padding: 10px;
        font-size: 25px;
        color: white;
        cursor: pointer;
    }
    .footer i:hover {
        background-color: red;
        border-radius: 50%;
    }
    
}
@media (max-width:760px) {
    /* main */
    .main {
        width: 100%;
        background-color:yellow;
    }
    /* navbar */
    .navbar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .nav-l {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .nav-r {
        width: 90%;
    }
    .nav-r ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .nav-r ul li {
        list-style: none;
        background-color: black;
        padding: 10px;
        border-radius: 7px;
        width: 40%;
        margin-top: 20px;
        text-align: center;
    }
    .nav-r ul li a {
        text-decoration: none;
        color: white;
    }
    .content1 {
        width: 95%;
        margin: auto;
        text-align: center;
    }
    .content1 .box1 {
        width: 100%;
    }
    .content1 .box1 .btn {
        width: 100%;
    }
    .content1 .box1 .btn input {
        border-radius: 7px;
        border: none;
        background-color: black;
        color: white;
        padding: 10px;
        margin-top: 3%;
        margin-bottom: 3%;
    }
   .content2 {
       width: 90%;
       display: flex;
       flex-wrap: wrap;
       margin: auto;
       text-align: center;
   }
   .content2 .contain2 h1 {
       font-size: 20px;
   }
   .content2 .contain2 .box .img {
       margin-top: 40px;
   }
   .content2 .contain2 .box .img h3 {
       color: white;
       margin-top: -10%;
   }
   .content2 .contain2 .btn input {
       background-color: black;
       color: white;
       padding: 10px;
       border: none;
       border-radius: 7px;
       margin-top: 10px;
   }
   .content3 {
       width: 90%;
       margin: auto;
       text-align: center;
   }
   .content3 .box {
       margin-top: 5%;
   }
   .content3 .box .text h1 {
       font-size: 20px;
   }
   .content3 .box .text input {
       border: none;
       border-radius: 7px;
       padding: 10px;
       background-color: black;
       color: white;
       margin-top: 3%;
       margin-bottom: 3%;
   }
   .content4 {
       width: 95%;
       margin: auto;
       text-align: center;
   }
   .content4 .box1 {
       width: 100%;
       margin: auto;
       background-color: black;
       color: white;
       border-radius: 7px;
       display: flex;
       flex-wrap: wrap;
   }
   .content4 .box1 h1 {
       font-size: 20px;
       margin: auto;
       margin-top: 20px;
   }
   .content4 .box1 .item {
       width: 90%;
       margin: auto;
       border-radius: 7px;
       border: none;
       padding: 10px;
       margin-top: 20px;
   }
   .content4 .box1 .textarea {
       resize: none;
   }
   .content4 .box1 .btn {
    margin: auto;
    border-radius: 7px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    background-color:yellow;
    color: black;
    margin-bottom: 20px;
    margin-top: 10px;
   }
   .content4 .box2 {
       width: 90%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
   }
   .content4 .box2 .content1 {
       margin: auto;
       width: 90%;
       margin-left: 40px;
   }
   .content4 .box2 .content1 iframe {
       width: 100%;
   }
   .content4 .box2 .content2 {
     margin-left: 40px;
     background-color: black;
     color: white;
     border-radius: 7px;
   }
   .content4 .box2 .content2 p {
       padding: 5px;
   }
   .footer {
       width: 100%;
       padding: 0;
       margin: 0;
       background-color: black;
       margin-top: 5%;
   }
   .footer i {
       color: white;
       padding: 10px;
       margin-left: 7%;
   }
     
}